{% extends "layout.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="active">Usage</li>
</ol>

{% for db, data in usage|dictsort %}
<h2>{{ db }}</h2>
<table id="{{ db }}" class="table table-striped table-condensed table-bordered tablesort">
  <thead>
    <tr>
      <th>Owner</th>
      <th data-sort-method="number" data-sort-default>Size</th>
      <th data-sort-method="number">Rows</th>
      <th data-sort-method="number">Tables</th>
    </tr>
  </thead>
  <tbody>
    {% for u in data %}
    <tr>
      <td id="{{ u.owner }}"><a href="{{ u.owner|owner_url }}">{{ u.owner|owner }}</a> (<a href="{{ url_for('owner_usage', name=u.owner) }}">{{ u.owner }}</a>)</td>
      <td class="number" data-sort="{{ u.total_bytes }}">{{ u.total_bytes|filesizeformat }}</td>
      <td class="number">{{ u.row_count|int }}</td>
      <td class="number">{{ u.tables }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}

{% block js %}
{{ super() }}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tablesort/5.0.0/tablesort.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/tablesort/5.0.0/src/sorts/tablesort.number.js"></script>
<script>
  $(document).ready(function() {
    $('table.tablesort').each(function(idx, elm) {
      new Tablesort(elm, {descending: true});
    });
  });
</script>
{% endblock %}
{# vim:sw=2:ts=2:sts=2:et: #}
